/* Buttons */

.btn, .btn-small, .btn-form{
    display: inline-block;
    position: relative;
    z-index: 1;
    font-family: $roboto-cd;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    &:after, &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: $transition;
    }
    &:before{
        background: #fff;
        transform: scaleX(0);
        transform-origin: 0 0;
    }
    &:after{
        border: 2px solid;
        opacity: 0;
    }
    &:hover, &:focus{
        &:before{
            transform: scaleX(1);
            color: #D63E2F;
        }
        &:after{
            opacity: 1;
        }
    }
    > .icon-arrow{
        width: 0.6em;
        height: 0.6em;
    }
}

.btn{
    display: inline-flex;
    align-items: center;
    padding: 19px 25px 17px;
    background: $bleu-link;
    &:after{
        border-color: $bleu-link;
    }
    &:hover, &:focus{
        color: $bleu-link;
    }
    > .icon{
        margin: 0 0 0 5px;
    }
    > .icon-quizz{
        width: 4em;
        height: 1.5em;
    }
}

.btn-small, .btn-form{
    background: $theme-btn;
    &:after{
        border-color: $theme-btn;
        color: #D63E2F;
    }
    &:hover, &:focus{
        color: #D63E2F;
    }
}

.btn-small{
    padding: 17px 25px;
    font-size: 0.75em;
    &:hover {
        fill: #D63E2F;
        color: #D63E2F;
    }
}

.btn-form{
    padding: 10px 25px;
    &.invert{
        background: #fff;
        color: #D63E2F;
        &:after{
            opacity: 1;
        }
        &:before{
            background: $theme-btn;
        }
        &:hover, &:focus{
            color: #fff;
        }
    }
    &[disabled]{
        pointer-events: none;
        background: #282C34;
        opacity: 0.15;
    }
}

.btn-close{
    width: 45px;
    height: 45px;
    background: $theme-btn;
    color: #fff;
    > .icon{
        width: 18px;
        height: 18px;
        transition: $transition;
    }
    &:hover, &:focus{
        color: #D63E2F;
        > .icon{
            transform: rotate(90deg);
        }
    }
}

.link{
    display: inline-flex;
    align-items: center;
    font-family: $roboto-cd-bold;
    font-size: 1.3rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-decoration: none;
    > .icon{
        width: 0.6em;
        height: 0.6em;
        margin: 0 0 0 5px;
    }
}

.btn-download{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    .icon{
        margin: 0 5px 0 0;
    }
}