.card{
    max-width: 900px;
    padding: 30px 45px 35px 65px;
    border: 1px solid #E4E4E4;
    position: relative;
    margin: 0;
    background: #fff;
    &:before{
        content: '';
        width: 80px;
        height: 80px;
        border: 0;
        position: absolute;
        top: -20px;
        left: -40px;
        background: linear-gradient(0deg, rgba(#000, 0.68) 0%, rgba(#000, 0.0001) 100%), #E8532A;
        background-blend-mode: overlay, normal;
        opacity: 0.9;
    }
    &.padding-big{
        padding-top: 45px;
        padding-bottom: 75px;
    }
    + .card{
        margin-top: 50px;
    }
    .icon{
        position: absolute;
        z-index: 3;
        color: #fff;
    }
    .icon-people{
        width: 49px;
        height: 45px;
        top: 0;
        left: -25px;
    }
    .icon-quote{
        width: 25px;
        height: 20px;
        top: 8px;
        left: -13px;
    }
    .logo{
        position: absolute;
        top: 20px;
        right: 25px;
    }
    h3{
        padding: 10px 0 5px;
        color: $txt;
    }
    p{
        font-size: 1.4rem;
    }
}

.card-title{
    display: block;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-family: $roboto-cd-bold;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    font-style: normal;
    color: $orange;
}
