.popin{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba($txt, 0.4);
    cursor: pointer;
    transition: opacity 0.2s $transition, z-index 0s linear 0.5s;
    &.off{
        opacity: 0;
        z-index: -1;
        .popin-content{
            opacity: 0;
        }
    }
}

.popin-content{
    max-width: 590px;
    position: relative;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0 19px 35px rgba(#000, 0.25);
    cursor: auto;
    transition: $transition;
    &.has-advice{
        display: flex;
        max-width: 750px;
    }
    .btn-form{
        margin-top: 10px;
        line-height: 1.6;
    }
    .btn-close{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
    .popin-inner{
        padding: 50px;
        box-shadow: 0 18px 36px rgba(#000, 0.13);
        z-index: 1;
    }
    .advice{
        width: 250px;
        padding: 60px 40px 120px 35px;
        margin: 0;
        flex-shrink: 0;
        background-image: none;
        border-radius: 0 10px 10px 0;
        &:before, &:after{
            content: none;
        }
        .advice-title{
            max-width: 55%;
            line-height: 1.2;
        }
        img{
            position: absolute;
            right: 20px;
            bottom: 0;
        }
    }
}

.popin-footer{
    padding: 35px 50px 30px;
    margin: 40px -50px -50px;
    background: #FCF9EB;
    p{
        margin: 0;
        border-bottom: 1px solid rgba(115, 146, 218, 0.3);
    }
}

.popin-title{
    margin: 0;
    font-family: $roboto-cd-bold;
    font-size: 2.7rem;
    letter-spacing: 0.01em;
}

.popin-btn{
    .btn-form{
        padding: 10px 20px;
    }
}

.popin-btn-right{
    margin: 20px 0 0;
    text-align: right;
}


@media (max-width: $phone){
    .popin-content{
        &.has-advice{
            display: block;
        }
        .advice{
            width: 100%;
            padding-top: 20px;
            padding-right: 35px;
        }
        .popin-inner{
            padding-left: 35px;
            padding-right: 35px;
        }
    }
}
