/* Home specific style */

.header-home-container{
    position: relative;
    .img{
        display: flex;
        border-left: 4px solid transparent;
        justify-content: flex-end;
        position: absolute;
        bottom: -5%;
        right: -100px;
        overflow: hidden;
        &.on{
            border-color: #fff;
        }
        img{
            max-width: 950px;
        }
    }
}

.header-home{
    width: 39%;
    min-width: 450px;
    padding: 60px 0 120px;
    position: relative;
    z-index: 1;
}


@media (max-width: $desktop-big){
    .header-home-container{
        .img{
            bottom: -10%;
            img{
                max-width: 900px;
            }
        }
    }
}

@media (max-width: $desktop){
    .header-home-container{
        .img{
            right: -20%;
            img{
                max-width: 750px;
            }
        }
    }
}

@media (max-width: $tablet){
    .header-home-container{
        .img{
            position: static;
            img{
                max-width: 100%;
            }
            + .img{
                display: none;
            }
        }
    }

    .header-home{
        width: 100%;
        min-width: 0;
        padding-top: 30px;
        padding-bottom: 0;
    }
}
