/* Home specific style */

.header-home-container{
    position: relative;
    > img{
        position: absolute;
        bottom: -5%;
        right: -100px;
    }
}

.header-home{
    width: 39%;
    min-width: 450px;
    padding: 60px 0 120px;
    position: relative;
    z-index: 1;
}


@media (max-width: $desktop-big){
    .header-home-container{
        > img{
            bottom: -10%;
        }
    }
}

@media (max-width: $desktop){
    .header-home-container{
        > img{
            right: -20%;
        }
    }
}

@media (max-width: $tablet){
    .header-home-container{
        > img{
            position: static;
        }
    }

    .header-home{
        width: 100%;
        min-width: 0;
        padding-top: 30px;
        padding-bottom: 0;
    }
}
