.main-container-title-page {
    max-width: 945px;
    width: 100%;
    padding: 0px 35px;
    margin-top: 100px;

    // border: 1px red solid;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    .little-container-accueil {
        color: #c2c0c0;
        font-family: $roboto-cd-bold;
        font-size: 11px;
        margin: 0px;
        display: flex;
        margin-left: 60px;
        p {
            margin: 0;
        }
        img {
            margin-left: 5px;
        }
    }
    h1 {
        color: #282c34;
        margin: 0px;
        font-size: 34px;
        margin-left: 60px;
    }
}

.navigation-account-main-container {
    max-width: 945px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    list-style: none;

    nav {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .selection-button {
        border-right: 1px solid #e4e4e4;
    }
    ul {
        display: flex;
        list-style-type: none;
        justify-content: flex-start;
        margin: 0px;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;

        li {
            font-size: 11px;
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            text-align: center;
            border: 1px solid #e4e4e4;
            border-right: 0px;
            list-style-type: none;
            flex-grow: 1;
            flex-shrink: 0;
            color: black;

            &:hover {
                color: white;
                background-color: #d2394b;
                border: 1px solid #d2394b;
            }

            button {
                white-space: nowrap;
                color: black;
                padding: 20px 15px;
                flex-grow: 1;
                transition: 0s;
                white-space: nowrap;
                text-transform: uppercase;
                &:hover {
                    color: white;
                    transition: 0s;
                }
            }

            &::before {
                content: none;
            }

            .home-nav {
                padding: 15px 20px;
            }
        }
    }
}

.tab-header {
    background-color: #d2394b;
    margin: 0;

    p {
        margin: 0;
    }

    a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        text-transform: uppercase;
        font-family: $roboto-cd-bold;
        font-size: 13px;
        letter-spacing: 0.1em;
    }
}

.tab-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: solid 1px yellow;
    p {
        // border: green 1px solid;
    }
}
.tab-header-title-container {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px white;
    padding-top: 50px;
    padding-bottom: 20px;
    width: 90%;
    h2 {
        margin-top: 0px;
        color: white;
        margin: 0px;
        font-family: $roboto-cd;
        font-size: 34px;
        padding: 0;
    }

    svg {
        margin: 0;
        padding: 0;
        width: 14px;
        height: 14px;
        margin-right: 15px;
    }
}

.tab-header-paragraph {
    width: 90%;
    color: white;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.accordion {
    @extend %stereorepo-accordion;
    .accordion-title {
        position: relative;
        margin: 0;
        padding: 40px;
        background-color: #b2232e;
        > h3 {
            margin: 0;
            padding: 0;
            font-size: 2.6rem;
            font-family: $roboto-cd;
            color: $white;
            cursor: pointer;
        }
        > .icon {
            position: absolute;
            top: 50%;
            right: 40px;
            color: $white;
            transform: translateY(-50%);
        }
    }
    .content {
    }
}

.accordion-wrapper {
    .dion2 {
        background-color: #ba2733;
    }
    .dion3 {
        background-color: #c12b38;
    }
    .dion4 {
        background-color: #c93740;
    }

    .sub-accordion {
        // height: 70px;
        background-color: white;

        .subaccordion-title {
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: solid 1px #eaeaeb;
        }
        .subaccordion-title-check {
            display: flex;
            svg {
                fill: #7392da;
                width: 15px;
                height: 15px;
                margin-left: 20px;
            }
            h3 {
                height: 20px;
                margin-left: 20px;
                color: black;
                font-size: 18px;
            }
        }

        .icon-arrowright {
            fill: black;
            height: 30px;
        }
    }
}

.content-content {
    display: block;
    height: auto;
    display: none;
}

.container-content-accordion {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 50px;
    padding-bottom: 50px;

    .sub-container-content-accordion {
        width: 45%;
    }
    .container-content-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45%;
        padding: 20px;
        justify-content: center;
        align-items: center;
        background: #f8f8f8;

        button {
            background-color: #c6333e;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px 30px;
            color: white;
            text-transform: uppercase;
            font-size: 13px;
            letter-spacing: 0.1em;
            font-family: $roboto-cd-bold;

            .arrow-button {
                margin: 0;
                width: 7px;
                height: 7px;
                fill: white;
                margin-left: 10px;
            }
        }
    }
}

.navigation-account-main-container {
    .sub-container-content-accordion-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: visible;
        li {
            position: relative;
            font-size: 14px;
            border: none;
            &::before {
                content: '';
                position: absolute;
                top: 5px;
                left: -15px;
            }
        }
    }
}

.advice-account {
    margin: 40px;
    margin-bottom: 0px;
}

.tab-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    h4 {
        font-size: 40px;
    }
    h5 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .icon-arrow {
        width: 10px;
        height: 15px;
    }

    .tab-footer-news,
    .tab-footer-pro {
        margin-top: 130px;
        padding-bottom: 100px;

        a {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1.2px;
            text-decoration: none;
            font-family: $roboto-cd-bold;
            margin-bottom: 5px;
        }
        p {
            margin: 0;
            margin-right: 15px;
        }
        h4 {
            color: #ee7e31;
        }
    }

    .tab-footer-news {
        margin-right: 50px;
        margin-left: 50px;
        h4 {
            color: #d63e2f;
        }
    }
}
.white_space {
    height: 60px;
}

.container-content-accordion .container-content-button button {
    &:hover {
        color: #c93740;
    }
}
