.breadcrumb {
    margin: 0;
}

.account-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    max-width: 945px;
    margin-top: 50px;
    padding: 0px 35px;
    .little-container-accueil {
        color: #c2c0c0;
        font-family: $roboto-cd-bold;
        font-size: 11px;
        margin: 0px;
        display: flex;
        margin-left: 60px;
        p {
            margin: 0;
        }
        img {
            margin-left: 5px;
        }
    }
    > h1 {
        color: #282c34;
        font-size: 34px;
    }
}

.navigation-account {
    overflow-x: auto;
    background: $white;
    > ul {
        display: flex;
        list-style-type: none;
        justify-content: flex-start;
        margin: 0px;
        li {
            font-size: 11px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            text-align: center;
            border: 1px solid #e4e4e4;
            border-right: 0;
            list-style-type: none;
            flex-grow: 1;
            flex-shrink: 0;
            color: #000;

            &:hover, &.active{
                color: white;
                background-color: #d2394b;
                border-color: #d2394b;
            }

            button {
                white-space: nowrap;
                color: inherit;
                padding: 20px 15px;
                flex-grow: 1;
                transition: 0s;
                white-space: nowrap;
                text-transform: uppercase;
            }

            &::before {
                content: none;
            }

            .home-nav {
                padding: 15px 20px;
            }
        }
    }
}

.account-main-container {
    max-width: 945px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    list-style: none;
    .selection-button {
        border-right: 1px solid #e4e4e4;
    }
}

.account-tab-header {
    background-color: #d2394b;
    margin: 0;
}

.account-tab-header-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0 auto;
    border-bottom: solid 1px white;
    > h2 {
        padding: 0;
        margin: 0 30px 0 0;
        font-family: $roboto-cd;
        font-size: 3.4rem;
        line-height: 1;
        color: #fff;
    }
}

.account-tab-header-export {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin: 10px 0 0;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $roboto-cd-bold;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    color: #fff;
    &:hover{
        color: #fff;
        opacity: 0.7;
    }
    > p {
        margin: 0;
        line-height: 1;
    }
    > svg {
        margin: 0;
        padding: 0;
        width: 14px;
        height: 14px;
        margin-right: 15px;
    }
}

.tab-header-has-img{
    display: flex;
    align-items: center;
    .img{
        flex-shrink: 0;
        margin: 0 70px 0 30px;
    }
}
.tab-header-paragraph {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
    font-size: 14px;
    color: white;
}

.accordion-wrapper {
    .dion2 {
        background-color: #ba2733;
    }
    .dion3 {
        background-color: #c12b38;
    }
    .dion4 {
        background-color: #c93740;
    }
}

.accordion-title {
    position: relative;
    margin: 0;
    padding: 40px 55px 40px 40px;
    background-color: #b2232e;
    > h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        font-size: 2.6rem;
        font-family: $roboto-cd;
        color: $white;
        cursor: pointer;
    }
    > .icon {
        position: absolute;
        top: 50%;
        right: 35px;
        font-size: 0.8em;
        color: $white;
        transform: translateY(-50%);
        transition: transition(
            (
                transform: (
                    '0.23s'
                )
            ),
            ease-in-out
        );
    }
    .indic{
        width: 30%;
        height: 9px;
        margin: 0 50px;
        position: relative;
        flex-shrink: 0;
        border-radius: 10px;
        background: #fff;
        opacity: 0.1;
        &.checked-items{
            opacity: 1;
        }
        > div{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            background: #F18832;
            border-radius: 10px;
        }
    }
}

.accordion {
    @extend %stereorepo-accordion;
    &.activated {
        .accordion-title {
            > .icon {
                transform: translateY(-50%) rotate3d(0, 0, 1, 90deg);
            }
        }
    }
}

.content-wrapper{
    background: #fff;
}

.sub-accordion {
    background-color: $white;
    &.activated {
        .sub-accordion-title {
            > .icon-arrow-right {
                transform: translateY(-50%) rotate3d(0, 0, 1, 90deg);
            }
        }
    }
}

.sub-accordion-title {
    position: relative;
    padding: 20px 40px 20px 20px;
    border-bottom: solid 1px #eaeaeb;
    cursor: pointer;
    > h3 {
        margin: 0 0 0 20px;
        padding: 0;
        font-size: 1.8rem;
        color: $black;
    }
    > .icon-check,
    > .icon-arrow-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    > .icon-check {
        width: 15px;
        height: 15px;
        left: 15px;
        color: #7392da;
    }
    > .icon-arrow-right {
        right: 40px;
        color: $black;
        transition: transition(
            (
                transform: (
                    '0.23s'
                )
            ),
            ease-in-out
        );
    }
}

.sub-accordion-content {
    display: flex;
    padding: 35px 50px;
    border-bottom: solid 1px #eaeaeb;
    font-size: 1.4rem;
}

.sub-accordion-content-first,
.sub-accordion-content-second {
    flex: 0 1 50%;
}

.sub-accordion-content-first {
    margin-right: 35px;
}

.sub-accordion-content-second {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background: #f8f8f8;
    &.center-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button,
    a {
        display: inline-flex;
    }
    > p {
        margin-bottom: 0;
    }
    .btn-small,
    .btn-arrow {
        margin-top: 1.55em;
        cursor: pointer;
    }
    .btn-small {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.55em;
        padding: 15px 30px;
        font-size: 1.3rem;
        font-family: $roboto-cd-bold;
        letter-spacing: 0.1em;
        .arrow-button {
            margin: 0;
            width: 7px;
            height: 7px;
            fill: white;
            margin-left: 10px;
        }
    }
    .btn-arrow {
        align-self: flex-end;
        margin-top: 3em;
        color: #c12b38;
    }
}

.account-tab-footer,
.advice-account-container {
    .advice-title {
        display: block;
        margin-bottom: 1.25em;
    }
}

.advice-account-container {
    padding: 40px;
    background: $white;
    .advice {
        background-image: url('/img/jeanfrancois.svg');
    }
}

.account-tab-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    padding: 40px 50px 50px;
    .tab-footer {
        display: flex;
        margin-right: 50px;
        h4 {
            font-size: 40px;
        }
        h5 {
            font-size: 20px;
            margin-bottom: 30px;
        }
        .btn-arrow {
            margin-bottom: 5px;
            font-size: 1.2rem;
        }
    }
    .tab-footer-news {
        margin-right: 75px;
        > h4 {
            color: #d63e2f;
        }
    }
    .tab-footer-pro {
        > h4 {
            color: #ee7e31;
        }
    }
    .advice {
        background-image: url('/img/carole.svg');
    }
}

.list-check{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    > li{
        width: 50%;
        padding: 20px 45px;
        border-bottom: 1px solid rgba(#282C34, 0.1);
        margin: 0;
        &:before{
            content: none;
        }
    }
    input[type=checkbox] + label{
        padding: 0 0 0 25px;
        &:after{
            background: #DF5641;
        }
    }
}

.account-tab-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 40px 50px;
    background: #B2232E;
    ::-webkit-input-placeholder {
        color: #fff;
    }
    ::-moz-placeholder {
        color: #fff;
    }
    ::-ms-input-placeholder {
        color: #fff;
    }
    p{
        margin: 0;
        font-size: 1.4rem;
        color: #fff;
    }
    strong{
        display: block;
    }
    form{
        display: flex;
        justify-content: space-between;
    }
    input{
        width: 175px;
        height: 30px;
        padding: 5px 10px;
        margin: 0 12px 0 0;
        color: #fff;
        &[type=submit]{
            width: auto;
            font-size: 1.3rem;
            margin: 0;
            border-color: #F18832;
            outline: 1px solid #F18832;
            font-family: $roboto-it;
            background: #F18832;
        }
    }
}


@media (max-width: $desktop){
    .account-tab-footer{
        display: block;
    }

    .account-tab-form{
        display: block;
        form{
            max-width: 400px;
            margin: 20px 0 0;
        }
    }
}

@media (max-width: $tablet){
    .sub-accordion-content{
        display: block;
    }

    .sub-accordion-content-first{
        margin: 0;
    }
    .accordion-title > h3{
        display: block;
        .indic{
            width: 60%;
            margin: 20px 0 0;
        }
    }

    .list-check{
        display: block;
        > li{
            width: 100%;
        }
    }
}

@media (max-width: $phone){
    .account-tab-footer{
        padding: 20px;
        .advice{
            padding-left: 50px;
            background-image: none;
        }
        .tab-footer{
            display: block;
            h5{
                margin-bottom: 10px;
            }
        }
        .tab-footer-news{
            margin: 0 0 40px;
        }
    }

    .accordion-title{
        padding: 30px 45px 30px 30px;
        > h3{
            font-size: 2rem;
        }
        > .icon{
            right: 25px;
        }
    }

    .sub-accordion-title{
        > .icon-arrow-right{
            right: 20px;
            font-size: 0.8em;
        }
    }

    .advice-account-container{
        padding: 20px;
        .advice{
            margin: 0;
            padding-left: 55px;
            background-image: none;
        }
    }

    .sub-accordion-content{
        padding: 20px;
    }

    .tab-header-has-img{
        display: block;
        .img{
            margin: 0 0 20px;
        }
    }

    .account-tab-form{
        form{
            display: block;
        }
        input{
            display: block;
            margin: 0 0 10px;
            max-width: 100%;
        }
    }
}
