.breadcrumb {
    margin: 0;
}

.account-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    max-width: 945px;
    margin-top: 50px;
    padding: 0px 35px;
    .little-container-accueil {
        color: #c2c0c0;
        font-family: $roboto-cd-bold;
        font-size: 11px;
        margin: 0px;
        display: flex;
        margin-left: 60px;
        p {
            margin: 0;
        }
        img {
            margin-left: 5px;
        }
    }
    > h1 {
        color: #282c34;
        font-size: 34px;
    }
}

.navigation-account {
    background: $white;
    > ul {
        display: flex;
        list-style-type: none;
        justify-content: flex-start;
        margin: 0px;
        li {
            font-size: 11px;
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            text-align: center;
            border: 1px solid #e4e4e4;
            border-right: 0px;
            list-style-type: none;
            flex-grow: 1;
            flex-shrink: 0;
            color: black;

            &:hover {
                color: white;
                background-color: #d2394b;
                border: 1px solid #d2394b;
            }

            button {
                white-space: nowrap;
                color: black;
                padding: 20px 15px;
                flex-grow: 1;
                transition: 0s;
                white-space: nowrap;
                text-transform: uppercase;
                &:hover {
                    color: white;
                    transition: 0s;
                }
            }

            &::before {
                content: none;
            }

            .home-nav {
                padding: 15px 20px;
            }
        }
    }
}

.account-main-container {
    max-width: 945px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    list-style: none;
    .selection-button {
        border-right: 1px solid #e4e4e4;
    }
}

.account-tab-header {
    background-color: #d2394b;
    margin: 0;
}

.account-tab-header-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0 auto;
    border-bottom: solid 1px white;
    > h2 {
        padding: 0;
        margin: 0;
        font-family: $roboto-cd;
        font-size: 3.4rem;
        line-height: 1;
        color: white;
    }
}

.account-tab-header-export {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $roboto-cd-bold;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    color: white;
    > p {
        margin: 0;
        line-height: 1;
    }
    > svg {
        margin: 0;
        padding: 0;
        width: 14px;
        height: 14px;
        margin-right: 15px;
    }
}

.tab-header-paragraph {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
    font-size: 14px;
    color: white;
}

.accordion-wrapper {
    .dion2 {
        background-color: #ba2733;
    }
    .dion3 {
        background-color: #c12b38;
    }
    .dion4 {
        background-color: #c93740;
    }
}

.accordion-title {
    position: relative;
    margin: 0;
    padding: 40px;
    background-color: #b2232e;
    > h3 {
        margin: 0;
        padding: 0;
        font-size: 2.6rem;
        font-family: $roboto-cd;
        color: $white;
        cursor: pointer;
    }
    > .icon {
        position: absolute;
        top: 50%;
        right: 40px;
        color: $white;
        transform: translateY(-50%);
        transition: transition(
            (
                transform: (
                    '0.23s'
                )
            ),
            ease-in-out
        );
    }
}

.accordion {
    @extend %stereorepo-accordion;
    &.activated {
        .accordion-title {
            > .icon {
                transform: translateY(-50%) rotate3d(0, 0, 1, 90deg);
            }
        }
    }
}

.sub-accordion {
    background-color: $white;
    &.activated {
        .sub-accordion-title {
            > .icon-arrow-right {
                transform: translateY(-50%) rotate3d(0, 0, 1, 90deg);
            }
        }
    }
}

.sub-accordion-title {
    position: relative;
    padding: 20px;
    border-bottom: solid 1px #eaeaeb;
    cursor: pointer;
    > h3 {
        margin: 0 0 0 20px;
        padding: 0;
        font-size: 1.8rem;
        color: $black;
    }
    > .icon-check,
    > .icon-arrow-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    > .icon-check {
        width: 15px;
        height: 15px;
        left: 15px;
        color: #7392da;
    }
    > .icon-arrow-right {
        right: 40px;
        color: $black;
        transition: transition(
            (
                transform: (
                    '0.23s'
                )
            ),
            ease-in-out
        );
    }
}

.sub-accordion-content {
    display: flex;
    padding: 35px 50px;
    border-bottom: solid 1px #eaeaeb;
    font-size: 1.4rem;
}

.sub-accordion-content-first,
.sub-accordion-content-second {
    flex: 0 1 50%;
}

.sub-accordion-content-first {
    margin-right: 35px;
}

.sub-accordion-content-second {
    padding: 20px;
    background: #f8f8f8;
    &.center-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button {
        background-color: #c6333e;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        color: white;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.1em;
        font-family: $roboto-cd-bold;
        &:hover {
            color: #c93740;
        }
        .arrow-button {
            margin: 0;
            width: 7px;
            height: 7px;
            fill: white;
            margin-left: 10px;
        }
    }
}

.advice-account-container {
    padding: 40px;
    background: $white;
    .advice {
        padding-top: 20px;
        background: #fcf9eb url('/img/jeanfrancois.svg') no-repeat 35px 30px;
    }
    .advice-title {
        display: block;
        margin-bottom: 1.25em;
    }
}

.tab-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $white;
    h4 {
        font-size: 40px;
    }
    h5 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .icon-arrow {
        width: 10px;
        height: 15px;
    }

    .tab-footer-news,
    .tab-footer-pro {
        margin-top: 130px;
        padding-bottom: 100px;

        a {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1.2px;
            text-decoration: none;
            font-family: $roboto-cd-bold;
            margin-bottom: 5px;
        }
        p {
            margin: 0;
            margin-right: 15px;
        }
        h4 {
            color: #ee7e31;
        }
    }

    .tab-footer-news {
        margin-right: 50px;
        margin-left: 50px;
        h4 {
            color: #d63e2f;
        }
    }
}
