/* Forms */

::-webkit-input-placeholder {
    font-family: $roboto-it;
    font-size: 0.88em;
    color: rgb(139, 139, 139);
}
::-moz-placeholder {
    font-family: $roboto-it;
    font-size: 0.88em;
    color: rgb(139, 139, 139);
}
::-ms-input-placeholder {
    font-family: $roboto-it;
    font-size: 0.88em;
    color: rgb(139, 139, 139);
}

.form-image {
    display: none;
}

.form-wrapper {
    display: inline-flex;
    width: 100%;
    //min-height: 550px;
}

.form-steps {
    display: inline-flex;
    min-width: 100%;
    @extend %stereorepo-accordion;
    &:nth-of-type(2), &:nth-of-type(2n+4){
        .form-steps-title{
            background: #D73F2D;
        }
    }
    &:nth-of-type(3), &:nth-of-type(3n+4){
        .form-steps-title{
            background: #DF552F;
        }
    }
    &:nth-of-type(4), &:nth-of-type(4n+4){
        .form-steps-title{
            background: #E76930;
        }
    }
}

.form-steps-content-wrapper,
.form-steps-content {
    display: flex;
    width: 100%;
}

.form-step {
    position: relative;
    width: 100%;
    //min-width: 100%;
    padding: 0 0 60px;
    overflow: hidden;
    > img {
        //max-width: 50%;
        position: absolute;
        // right: -$gutter/2;
        // bottom: -60px;
        top: 0;
        right: 0;
        width: 100%;
    }
    .container{
        max-width: 100%;
        min-height: 600px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: 0 0 0 2vw;
    }
}

.form-container {
    display: flex;
    //width: 75%;
    width: 55%;
    //max-width: 690px;
    position: relative;
    z-index: 1;
    font-size: 1.4rem;
    line-height: 1.6;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 18px 36px rgba(#000, 0.13);
    overflow: hidden;
    &.solo{
        width: 40%;
        > div {
            width: 100%;
        }
    }
    > div {
        width: 50%;
        padding: 35px 30px 70px;
        position: relative;
        &:nth-of-type(1) {
            padding-left: 55px;
        }
        &:nth-of-type(2) {
            padding-top: 72px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background: #f8f8f8;
        }
    }
    .btn-form {
        margin: 25px 0 0;
    }
}

.form-title {
    padding: 0;
    //position: relative;
    margin: 0 0 5px;
    font-size: 1.6rem;
    line-height: 1.2;
    font-family: $roboto-cd-bold-it;
    color: $txt;
    &:before, &:after{
        display: inline-block;
        font-family: $roboto-cd-bold;
        font-size: 3rem;
        line-height: 0;
        vertical-align: bottom;
        color: #C63642;
    }
    &:before{
        content: '“ ';
        margin: 0 10px 5px -21px;
    }
    &:after{
        content: ' ”';
        margin: 0 0 5px 5px;
    }
}
.form-title-cite{
    margin-top: 0;
    font-size: 1.4rem;
    font-family: $roboto-cd-it;
}

.form-text{
    blockquote{
        margin: 1em 35px;
        font-size: 1.4rem;
        text-align: center;
        &:before{
            display: none;
        }
        p{
            display: inline;
        }
        cite{
            display: inline;
            text-transform: none;
            color: inherit;
            font-family: $roboto-bold;
            letter-spacing: 0;
            font-size: inherit;
        }
    }
    .link{
        float: right;
        &.no-float{
            float: none;
        }
    }
}

.form-step-title {
    display: none;
}

// .form-icon {
//     display: inline-block;
//     padding: 4px 8px 5px;
//     background: $bleu-link;
//     color: #fff;
//     > .icon {
//         width: 36px;
//         height: 15px;
//     }
// }

.form-step-indic{
    font-family: $roboto-bold;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    line-height: 38px;
    background: linear-gradient(90deg, #C63642 1.2%, #F25B1A 83.25%), #C4C4C4;
    > .nb {
        display: inline-block;
        padding: 0 10px;
        position: relative;
        z-index: 1;
        margin: 0 10px 0 0;
        font-family: $roboto-cd-bold;
        font-size: 1.2rem;
        letter-spacing: -0.11em;
        color: #C63642;
        &:before {
            content: '';
            width: 51px;
            height: 50px;
            position: absolute;
            top: -5px;
            left: -1px;
            z-index: -1;
            background: #fff;
            transform-origin: 50% 50%;
            transform: rotate(-5deg);
        }
        span {
            font-size: 2rem;
        }
    }
}

.form-subfield {
    margin: 10px 0 0 18px;
}

.form-step-next {
    display: flex;
    justify-content: flex-end;
    margin: 35px 0;
}

.form-steps-title {
    display: none;
    padding: 20px $gutter/2;
    margin: 0;
    font-family: $roboto-cd;
    font-size: 2.6rem;
    background: $theme-btn;
    color: #fff;
}

fieldset {
    margin: 0 0 17px;
    p {
        margin: 0;
    }
}

legend {
    width: 100%;
    font-family: $roboto-bold;
    font-size: 1.4rem;
    margin: 0 0 2em;
    > span {
        display: block;
        font-family: $roboto-it;
    }
}

label {
    display: inline-block;
    width: 180px;
    margin: 0 15px 0 0;
    vertical-align: middle;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -0.02em;
    cursor: pointer;
    .form-disabled & {
        cursor: auto;
    }
    &.medium {
        font-size: 1em;
    }
    &.block {
        display: block;
        margin: 0 0 6px 0;
    }
    .required & {
        font-family: $roboto-bold;
        &:after {
            content: '*';
            color: $theme-rouge-title;
        }
        .form-disabled & {
            font-family: $roboto;
            &:after {
                display: none;
            }
        }
    }
    .required.no-asterisk & {
        &:after {
            display: none;
        }
    }
    .error & {
        color: $error;
    }
}

.big-legend {
    width: 100%;
    max-width: 650px;
    border-bottom: 1px dashed;
    margin-bottom: 20px;
    font-family: $roboto-cd-bold;
    font-size: 1.5em;
    .cercle & {
        margin: 20px 0 30px 0;
    }
}

.legend-next-fieldset {
    /* float pour ff + safari qui sinon laisse le legend déborder au-dessus du fieldset */
    float: left;
    .form-disabled & {
        margin-bottom: 0;
        + fieldset {
            margin-bottom: 5px;
        }
    }
}

.label-select {
    font-family: $roboto-bold;
    .form-half & {
        width: 34.92%;
        margin-right: 3.1%;
    }
    &.small {
        .form-half & {
            width: 8.26%;
            margin: 0;
            text-align: center;
        }
    }
}

input,
textarea,
select {
    width: 100%;
}

input,
textarea {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ebebeb;
    font-size: 16px;
    line-height: 1;
    background: #fff;
    color: inherit;
    box-shadow: 0 4px 10px rgba(135, 60, 21, 0.05);
    transition: $transition;
    &:not([disabled]):hover {
        border-color: mix(#fff, #ebebeb, 20%);
        &:focus {
            border-color: $bleu-link;
        }
    }
    &:focus {
        border-color: $bleu-link;
        outline: none;
    }
    .error & {
        border-color: $error;
    }
    &:-webkit-autofill {
        box-shadow: 0 0 0 1000px #fff inset;
    }
}

input {
    &.small {
        max-width: 160px;
    }
    &.x-small {
        max-width: 110px;
    }
    &.super-big {
        max-width: 490px;
    }
    &.med {
        max-width: 180px;
    }
    &[type='text'],
    &[type='email'],
    &[type='tel'],
    &[type='password'],
    &[type='number'] {
        vertical-align: middle;
    }
    &[type='text'] {
        max-width: 250px;
        &.small {
            padding-top: 7px;
            padding-bottom: 7px;
        }
        &.med {
            max-width: 230px;
        }
    }
    &[type='tel'] {
        max-width: 150px;
        &.med {
            max-width: 180px;
        }
    }
    &[type='email'],
    &.big {
        max-width: 325px;
    }
    &[type='number'] {
        max-width: 85px;
        -moz-appearance: textfield; /* to hide the persistent indicator on FF */
        &.price {
            max-width: 160px;
            + b {
                display: inline-block;
                margin: 0 0 0 8px;
            }
        }
    }
    &[type='password'] {
        max-width: 140px;
    }
    &[type='radio'],
    &[type='checkbox'] {
        width: 0;
        height: 0;
        position: absolute;
        left: -99em;
        vertical-align: top;
        &:checked {
            + label {
                &:after {
                    opacity: 1;
                }
            }
        }
        &:hover {
            opacity: 0.8;
        }
        &[disabled] {
            display: none;
            + label {
                display: none;
                padding-left: 0;
                font-family: $roboto-bold;
            }
            &:checked {
                + label {
                    display: inline-block;
                }
            }
        }
        + label {
            width: auto;
            position: relative;
            padding: 0 0 0 20px;
            &:before,
            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -2px;
                margin: 5px auto;
            }
            &:before {
                width: 12px;
                height: 12px;
                border: 1px solid #e4e4e4;
                top: 0;
                left: 0;
                background: #fff;
                transition: $transition;
                box-shadow: 0 4px 10px rgba(135, 60, 21, 0.05);
            }
            &:after {
                width: 8px;
                height: 8px;
                top: 2px;
                left: 2px;
                background: $bleu-link;
                opacity: 0;
            }
            &:hover {
                &:before {
                    border-color: mix(#fff, #e4e4e4, 20%);
                }
            }
        }
    }
    &[type='radio'] {
        + label {
            &:before,
            &:after {
                border-radius: 50%;
            }
        }
    }
    &[disabled] {
        border: 0;
        outline: 0 !important;
        font-size: 0.88em;
        font-family: $roboto-bold;
        /* pour safari qui affiche les input disabled en gris */
        -webkit-text-fill-color: $txt;
        .error & {
            color: $error;
            -webkit-text-fill-color: $error;
        }
    }
}

textarea {
    max-width: 370px;
    height: 75px;
    line-height: 1.5;
}

select {
    height: 42px;
    padding: 0 30px 0 12px;
    border: 1px solid #ebebeb;
    /* overflow pour empecher le dépassement de l'outline sur ff au focus */
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: $roboto-it;
    font-size: 0.88em;
    background: #fff;
    outline: 1px solid #dadada;
    transition: border $transition, outline $transition;
    &::-ms-expand {
        display: none;
    }
    .lt-ie10 & {
        padding-right: 0;
    }
    &:focus {
        border-color: $bleu-link;
        outline: 1px solid $bleu-link;
        outline-offset: 0;
    }
    .error & {
        border-color: $error;
        outline: 1px solid $error;
    }
}
.select {
    display: inline-block;
    width: 300px;
    max-width: 100%;
    position: relative;
    &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #000 transparent transparent transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 14px;
        pointer-events: none;
        .lt-ie10 & {
            display: none;
        }
    }
    &.medium {
        width: 200px;
    }
    &.small {
        width: 130px;
        .form-half & {
            width: 26.86%;
        }
    }
    .form-half & {
        width: 61.9%;
    }
}

button {
    border: 0;
    transition: $transition;
    &:focus {
        outline: 0;
    }
    &.no-margin {
        margin-left: 0;
    }
}

.not-filled {
    display: block;
    margin: -28px 0 14px 205px;
    font-size: 0.88em;
    font-family: $roboto-it;
    color: #b6b8bb;
}

.info-form {
    margin-top: 8px;
}

/* Newsletter */

.form-newsletter {
    div {
        margin: 10px 0;
    }
    input {
        background: none;
        padding-top: 5px;
        padding-bottom: 6px;
        border-width: 2px;
        border-color: #c1c3c6;
        outline: 0 !important;
        &:focus {
            border-color: $bleu-link;
        }
    }
}

.wrapper-input-btn {
    display: flex;
    justify-content: space-between;
    .btn-small {
        padding: 9px 13px;
        margin: 0 0 0 10px;
    }
}

/* Form error */

.p-error {
    padding: 15px 30px 15px 70px;
    position: relative;
    font-family: $roboto-bold;
    font-size: 0.88em;
    background: #f3f4e1;
    color: $error;
}

.p-valid,
#footer .p-valid {
    padding: 15px;
    position: relative;
    font-family: $roboto-bold;
    font-size: 0.88em;
    background: #f3f4e1;
    color: $valid;
    &.small {
        font-size: 0.85em;
        padding: 10px;
    }
}

@media (max-width: '1550px'){
    .form-step{
        .container{
            min-height: 500px;
        }
    }
}

@media (max-width: $desktop-big) {
    .form-step{
        padding: 0 0 30px;
        > img{
            display: block;
            max-width: 100%;
        }
        .container{
            min-height: 450px;
        }
    }

    .form-container{
        display: block;
        width: 100%;
        max-width: none;
        background: none;
        box-shadow: none;
        &.solo{
            width: 100%;
            > div{
                width: 66%;
            }
        }
        > div{
            width: 66%;
            &:nth-child(1){
                background: #fff;
            }
            &:nth-child(2){
                box-shadow: none;
                background: #f5f5f6;
                padding-top: 20px;
                padding-bottom: 0;
                border-radius: 0;
            }
        }
        form{
            > div{
                columns: 2;
            }
        }
    }
}

@media (max-width: $desktop) {
    .form-container {
        display: block;
        > div {
            &:nth-of-type(2) {
                width: 100%;
                padding-top: 40px;
            }
        }
    }
}

@media (max-width: $phone) {
    .form-image {
        display: block;
    }
    .form-btn,
    .form-nav,
    .form-step-indic{
        display: none;
    }
    .form-wrapper {
        display: block;
        position: relative;
    }
    .form-steps {
        display: block;
        min-width: 0 !important;
        &.activated {
            .form-steps-title {
                &::after {
                    transform: rotate3d(0, 0, 1, 90deg);
                }
            }
        }
    }
    .form-steps-content-wrapper,
    .form-steps-content {
        display: block;
    }
    .form-container {
        width: 100%;
        margin: 0;
        background: none;
        box-shadow: none;
        &.solo{
            > div{
                width: 100%;
            }
        }
        > div {
            width: 100%;
            padding: 0;
            &:nth-of-type(1) {
                padding-left: 0;
            }
            &:nth-of-type(2) {
                padding-bottom: 50px;
                background: none;
            }
        }
    }
    .form-steps-title,
    .form-step-title {
        position: relative;
        &:after {
            content: '›';
            font-size: 2.6rem;
            line-height: 1;
            transform-origin: 50% 50%;
            position: absolute;
            right: 30px;
            top: 25px;
        }
    }
    .form-steps-title {
        display: block;
        cursor: pointer;
        font-size: 2.4rem;
        padding: 20px 45px 20px 30px;
    }
    .form-title {
        margin: 10px 0;
        font-size: 1.8rem;
        &:after {
            margin: 0 0 5px 10px;
        }
        &:before{
            margin: 0 10px 6px 0;
        }
        > span {
            position: static;
            color: $txt;
            &:before {
                content: none;
            }
        }
    }
    .form-text {
        padding: 5px 0 0;
    }
    .form-step {
        padding: 0;
        border-bottom: 2px solid rgba(#282c34, 0.1);
        position: static;
        background: #fff;
        .form-step-title {
            display: block;
            padding: 1.55em 45px 1.55em 30px;
            margin: 0;
            font-family: $roboto-bold;
            cursor: pointer;
        }
        > img {
            display: none; /*pour que ça fonctionne avec le code de Nico*/
            max-width: 95%;
            top: 0;
            bottom: auto;
            right: 0;
            left: 0;
            margin: auto;
            z-index: -1;
        }
        .container{
            overflow: hidden;
            padding-top: 0;
            padding-bottom: 20px;
        }
        &.activated {
            .form-step-title {
                &::after {
                    transform: rotate3d(0, 0, 1, 90deg);
                }
            }
        }
    }
}

@media (min-width: $phone){
    .form-steps {
        .ph-content-wrapper {
            max-height: none;
            opacity: 1;
            overflow: initial;
        }
    }
}