/* Forms */

.form-half{
    display: inline-block;
    width: 52%;
    position: relative;
    vertical-align: top;
    margin: 25px 0 0;
    z-index: 1;
    background: #fff;
    .btn-arrow{
        position: absolute;
        bottom: 25px;
        right: 0;
        transform: translateX(35%);
    }
}

::-webkit-input-placeholder{
	font-family: $roboto-it;
    font-size: 0.88em;
    color: rgb(139, 139, 139);
}
::-moz-placeholder{
	font-family: $roboto-it;
    font-size: 0.88em;
    color: rgb(139, 139, 139);
}
::-ms-input-placeholder{
	font-family: $roboto-it;
    font-size: 0.88em;
    color: rgb(139, 139, 139);
}

fieldset{
	margin: 0 0 17px;
    &.footer{
        margin: 35px 18px;
    }
    &.inline-b{
        vertical-align: baseline;
        max-width: calc(100% - 195px);
        &.align-middle{
            vertical-align: middle;
            transform: none;
        }
        .has-margin-around{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    &.block-pwd{
        margin: 35px 0 25px;
        input{
            margin-right: 25px;
        }
    }
    &.block-grey{
        padding: 25px;
        margin: 40px 0 35px;
        background: #f4f5f8;
        legend{
            width: 100%;
            /* float pour ff + safari qui sinon laisse le legend déborder au-dessus du fieldset */
            float: left;
            margin-right: 0;
        }
        /*.select{
            width: 275px;
        }*/
        .form-half &{
            .label-select{
                width: 36.99%;
            }
            .select{
                width: 59.91%;
            }
        }
    }
    &.block-right{
        margin: 10px 0 10px 195px;
        &:not(.block-sub-fields){
            input[type=checkbox]{
                + label{
                    margin-left: 12px;
                }
            }
        }
        .form-half &{
            margin-left: 37.93%;
        }
    }
    &.block-sub-fields{
        margin-top: 45px;
        > div{
            padding: 15px 0 0 15px;
            border-left: 4px solid #ebebeb;
            margin: 10px 0 0 5px;
            label{
                width: 130px;
            }
            input{
                &[type=checkbox]{
                    + label{
                        width: auto;
                        margin-left: 70px;
                    }
                }
            }
        }
        .form-disabled &{
            fieldset{
                margin-bottom: 0;
            }
            > div{
                display: inline-block;
                width: 100%;
                padding: 0;
                border: 0;
                vertical-align: top;
                margin: 0 0 0 10px;
            }
            input{
                &[type=checkbox]{
                    + label{
                        margin-left: 0;
                    }
                }
                &[type=text]{
                    padding: 0;
                }
            }
            > input[type=checkbox]{
                + label{
                    display: none;
                }
            }
        }
    }
    &.block-optionnal-border{
        margin-top: 35px;
        &:after{
            content: '';
            display: block;
            max-width: 650px;
            border-bottom: 1px dashed;
            margin: 3px 0 0;
        }
    }
    .form-half &{
        margin-bottom: 25px;
        fieldset{
            margin-bottom: 0;
        }
    }
    .form-disabled &{
        margin-bottom: 7px;
    }
}

legend, label{
    display: inline-block;
    width: 180px;
    margin: 0 15px 0 0;
    vertical-align: middle;
    font-size: 0.88em;
    line-height: 1.5;
    letter-spacing: -0.02em;
    &.medium{
        font-size: 1em;
    }
    &.block{
        display: block;
        margin: 0 0 6px 0;
    }
    .required &{
        font-family: $roboto-bold;
        &:after{
            content: '*';
            color: $theme-rouge-title;
        }
        .form-disabled &{
            font-family: $roboto;
            &:after{
                display: none;
            }
        }
    }
    .required.no-asterisk &{
        &:after{
            display: none;
        }
    }
    .error &{
        color: $error;
    }
}

legend{
    margin-bottom: 15px;
    .block-sub-fields &{
        /* float pour ff + safari qui sinon laisse le legend déborder au-dessus du fieldset */
        float: left;
        margin-left: -195px; /* = margin-left .block-sub-fields */
    }
}

label{
    cursor: pointer;
    .form-disabled &{
        cursor: auto;
    }
}

.big-legend{
    width: 100%;
    max-width: 650px;
    border-bottom: 1px dashed;
    margin-bottom: 20px;
    font-family: $roboto-cd-bold;
    font-size: 1.5em;
    .cercle &{
        margin: 20px 0 30px 0;
    }
}

.legend-next-fieldset{
    /* float pour ff + safari qui sinon laisse le legend déborder au-dessus du fieldset */
    float: left;
    .form-disabled &{
        margin-bottom: 0;
        + fieldset{
            margin-bottom: 5px;
        }
    }
}

.label-select{
    font-family: $roboto-bold;
    .form-half &{
        width: 34.92%;
        margin-right: 3.1%;
    }
    &.small{
        .form-half &{
            width: 8.26%;
            margin: 0;
            text-align: center;
        }
    }
}

input, textarea, select{
    width: 100%;
}

input, textarea{
    transition: $transition;
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px rgb(255, 255, 255) inset;
  	}
}

input{
    &.small{
        max-width: 160px;
    }
    &.x-small{
        max-width: 110px;
    }
    &.super-big{
        max-width: 490px;
    }
    &.med{
        max-width: 180px;
    }
	&[type=text], &[type=email], &[type=tel], &[type=password], &[type=number]{
		//@extend %input;

		vertical-align: middle;
	}
    &[type=text]{
        max-width: 250px;
        &.small{
            padding-top: 7px;
            padding-bottom: 7px;
        }
        &.med{
            max-width: 230px;
        }
    }
    &[type=tel]{
        max-width: 150px;
        &.med{
            max-width: 180px;
        }
    }
    &[type=email], &.big{
        max-width: 325px;
    }
    &[type=number]{
        max-width: 85px;
        -moz-appearance: textfield; /* to hide the persistent indicator on FF */
        /*&::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }*/
        &.price{
            max-width: 160px;
            + b{
                display: inline-block;
                margin: 0 0 0 8px;
            }
        }
    }
    &[type=password]{
        max-width: 140px;
    }
    &[type=radio], &[type=checkbox]{
        width: auto;
        vertical-align: top;
        + label{
            width: auto;
            font-family: $roboto;
            &:after{
                display: none;
            }
            &:not(.has-margin):not(.has-margin-around){
                margin-right: 0;
            }
        }
    }
    &[type=radio]{
        +label{
            margin: 0 30px 0 10px;
            vertical-align: top;
        }
        &:hover{
            opacity: 0.8;
        }
        &.invisible{
            position: absolute;
            left: -99em;
            + label{
                position: relative;
                padding-left: 60px;
                padding-right: 110px;
                margin: 0;
                border: 2px #dadada solid;
                border-radius: 5px;
                cursor:pointer;
                &:before, &:after{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    margin: auto;
                }
                &:before{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 2px #dadada solid;
                    left: 20px;
                    top: -1px;
                    background: #fff;
                    transition: $transition;
                }
                &:after{
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: #ee5f20;
                    top: 0;
                    left: 25px;
                    opacity: 0;
                    transition: $transition;
                }
                .visu-type{
                    width: 96px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    z-index: 1;
                    &.icon-cb{
                        &:before{
                            font-size: 23px;
                            margin: -11px 0 0 -18px;
                        }
                    }
                    &.icon-chq{
                        &:before{
                            font-size: 26px;
                            margin: -13px 0 0 -25px;
                        }
                    }
                    &:before{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        color: #fff;
                    }
                    &:after{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        background: #dadada;
                        z-index: -1;
                    }
                }
                &:hover{
                    &:before{
                        border-color: mix(white, #ebebeb, 20%);
                        outline: none;
                    }
                }
            }
            &:checked{
                + label{
                    border-color: #ee5f20;
                    &:after{
                        opacity: 1;
                    }
                    .visu-type{
                        &:after{
                            background: #ee5f20;
                        }
                    }
                }
            }
        }
        &.red{
            &:checked{
                +label{
                border-color: #c6333e;
                    &:after{
                        opacity: 1;
                        background: #c6333e;
                        top: -1px;
                    }
                    .visu-type{
                        &:after{
                            background: #c6333e;
                        }
                    }
                }
            }
        }
        &[disabled]{
            display: none;
            + label{
                display: none;
                font-family: $roboto-bold;
            }
            &:checked{
                + label{
                    display: inline-block;
                }
            }
        }
        &:checked{
            border-color: $noir;
        }
    }
    &[type=checkbox]{
        position: relative;
        left:-99em;
        width: 0;
        height: 0;
        + label{
            position: relative;
            padding: 0 0 0 25px;
            &:before, &:after{
                content: '';
                position: absolute;
                bottom: 0;
                margin: 5px auto;
            }
            &:before{
                width: 15px;
                height: 16px;
                border: 1px solid #ebebeb;
                left: 0;
                top: -2px;
                background: #fff;
                outline: 1px solid #dadada;
                transition: $transition;
            }
            // &:after{
            //     @include font-icon;
            //     text-align: center;
            //     content: '\e907'; // icon-check
            //     display: block;
            //     height: 15px;
            //     width:12px;
            //     top: -1px;
            //     left: 2px;
            //     font-size: 0;
            //     line-height: 15px;
            //     color: $theme-rouge-title;
            //     opacity: 0;
            //     transition: $transition;
            // }
            &:hover{
                &:before{
                    border-color: mix(white, #ebebeb, 20%);
                    outline: 1px solid mix(white, #ebebeb, 20%);
                }
            }
        }
        &:checked{
            + label{
                &:after{
                    opacity: 1;
                    font-size: 11px;
                }
            }
        }
        &[disabled]{
            display: none;
            + label{
                display: none;
                padding-left: 0;
                font-family: $roboto-bold;
                &:after, &:before{
                    display: none;
                }
            }
            &:checked{
                + label{
                    display: inline-block;
                }
            }
        }
    }
    &[disabled]{
        border: 0;
        outline: 0 !important;
        font-size: 0.88em;
        font-family: $roboto-bold;
        /* pour safari qui affiche les input disabled en gris */
        -webkit-text-fill-color: $txt;
        .error &{
            color: $error;
            -webkit-text-fill-color: $error;
        }
    }
}

textarea{
    //@extend %input;

    max-width: 370px;
    height: 125px;
    line-height: 1.5;
}

select{
    height: 42px;
    padding: 0 30px 0 12px;
    border: 1px solid #ebebeb;
    /* overflow pour empecher le dépassement de l'outline sur ff au focus */
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: $roboto-it;
    font-size: 0.88em;
    background: #fff;
    outline: 1px solid #dadada;
    transition: border $transition, outline $transition;
    &::-ms-expand{
        display: none;
    }
    .lt-ie10 &{
        padding-right: 0;
    }
    &:focus{
        border-color: $bleu-link;
        outline: 1px solid $bleu-link;
        outline-offset: 0;
    }
    .error &{
        border-color: $error;
        outline: 1px solid $error;
    }
}
.select{
    display: inline-block;
    width: 300px;
    max-width: 100%;
    position: relative;
    &:after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #000 transparent transparent transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 14px;
        pointer-events: none;
        .lt-ie10 &{
            display: none;
        }
    }
    &.medium{
        width: 200px;
    }
    &.small{
        width: 130px;
        .form-half &{
            width: 26.86%;
        }
    }
    .form-half &{
        width: 61.9%;
    }
}

button{
    border: 0;
    transition: $transition;
    &[type=submit]{
        margin: 0 0 0 195px;
        .form-half &{
            margin-left: 37.93%;
        }
    }
    &:focus{
        outline: 0;
    }
    &.no-margin{
        margin-left: 0;
    }
}

.not-filled{
    display: block;
    margin: -28px 0 14px 205px;
    font-size: 0.88em;
    font-family: $roboto-it;
    color: #b6b8bb;
}

.info-form{
    margin-top: 8px;
}

/* Newsletter */

.form-newsletter{
    fieldset{
        margin: 10px 0;
    }
    input{
        &[type=text], &[type=email]{
            padding-top: 5px;
            padding-bottom: 6px;
            border-width: 2px;
            border-color: #c1c3c6;
            outline: 0 !important;
            &:focus{
                border-color: $bleu-link;
            }
        }
    }
}

.wrapper-input-btn{
	position: relative;
	.wrapper-input{
		padding: 0 53px 0 0;
        &.big{
            padding: 0 60px 0 0;
        }
        input[type=password]{
            max-width: none;
        }
        button{
            margin-top: -1px;
        }
	}
}


/* Form error */

.p-error{
    padding: 15px 30px 15px 70px;
    position: relative;
    font-family: $roboto-bold;
    font-size: 0.88em;
    background: #f3f4e1;
    color: $error;
    // &:before{
    //     @include font-icon;

    //     content: '\e908';
    //     height: 40px;
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 15px;
    //     margin: auto;
    //     font-size: 40px;
    // }
}

.p-valid, #footer .p-valid{
    padding: 15px;
    position: relative;
    font-family: $roboto-bold;
    font-size: 0.88em;
    background: #f3f4e1;
    color: $valid;
    &.small{
        font-size: 0.85em;
        padding: 10px;
    }
}


/* Map form */

.map-container{
    display: inline-block;
    width: 40%;
    padding: 0 0 43%;
    position: relative;
    margin: 0 0 0 8%;
    .btn-metropole{
        position: relative;
        opacity: 0;
        z-index: 0;
        &.active{
            z-index: 2;
            opacity: 1;
        }
    }
    .no-js &{
        display: none;
    }
}
.map-form{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    .department, .country{
        stroke-linecap: round;
        stroke-linejoin: round;
    }
    .country{
        fill: none;
        stroke: #93939a;
        stroke-width: 0.12px;
    }
    .department, .country-select{
        fill: #fff;
        cursor: pointer;
        transition: $transition;
        &:hover{
            fill: $bleu-link;
        }
        &.active{
            fill: $theme-btn;
        }
    }
    .department{
        stroke: $bleu-link;
        stroke-width: 0.05px;
        &.adjacent{
            fill: #ef8630;
            &:hover{
                fill: $bleu-link;
            }
        }
    }
    &-extra{
        top: 50px;
        font-size: 0.88em;
        transform: translateX(100%);
        opacity: 0;
        .department{
            stroke: #93939a;
            stroke-width: 0.12px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
        > div{
            display: inline-block;
            width: 50%;
            padding: 0 0 0 23%;
            position: relative;
            margin: 2.2em 0;
            &.small{
                width: 42%;
                padding: 0 0 0 17%;
                margin: 0 0 0 8%;
            }
            &.tiny{
                .department{
                    left: 6%;
                }
            }
        }
        b{
            font-family: $roboto-cd-bold;
        }
    }
    &-dom{
        > div{
            padding: 2.2em 0 2.2em 21%;
            margin: 0;
            &.small{
                width: 43%;
                margin: 0 0 0 7%;
                padding: 2.2em 0 2.2em 19%;
            }
        }
    }
}

.map-btn{
    max-width: 65px;
    position: absolute;
    top: 220px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
    transition: $transition;
    a{
        display: inline-block;
        margin-bottom: 5px;
    }
    &.active{
        z-index: 2;
        opacity: 1;
        visibility: visible;
    }
}

.searchform{
    .tab-content-title{
        width: 45%;
        padding-top: 0;
        float: left;
    }
    .form-half{
        width: 45%;
        float: left;
        clear: left;
        .label-select{
            width: 25%;
            &.small{
                width: 9%;
            }
        }
        fieldset.block-right {
            margin-left: 24.93%;
        }
        .select{
            width: 70%;
            &.small{
                width: 31%;
            }
        }
        button{
            margin-left: 0;
        }
        .btn-arrow{
            position: relative;
            bottom: auto;
            float: right;
            margin: 40px 0 0 0;
            transform: translateX(20px);
        }
    }
    .map-container{
        margin: 0 0 0 15%;
    }
}

#map-canvas{
    height: 200px;
    width: calc(100% - 195px);
    margin-left: 195px;
    border: 1px solid $gris-bg;
    outline: 1px solid $gris;
 }
.geolocalisation-container{
    position: relative;
    width: calc(100% - 195px);
    display: inline-block;
    input[type="text"]{
        max-width: 100%;
        padding-right: 34px;
    }
    i{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: $gris;
    }
}

 /* form inscription */

 #message {
    resize: none;
 }
 .objet {
    margin-left: -4px;
    width: 24%;
 }

.gutter-left{
    padding-left: $gutter;
}

/* form log vente */

.content-tabs-sale {
    .content-sale-log, .content-sale-paiement {
        padding: 20px 60px 50px;
        overflow: hidden;
        background: #fff;
        position: relative;
        margin: 0 1px 1px 1px;
        border-bottom: 1px solid #dadada;
        .align-top {
            vertical-align: top;
        }
    }
}
.sale-form {
    fieldset{
        .block-right{
            margin-top: 35px;
        }
        .block-pwd{
            margin-top: 18px;
        }
        input{
            &.bigger{
                max-width: 400px;
            }
        }
    }
}

/* form annonce vente */

.sale-announce-form {
    .select{
        width: 250px;
    }

    fieldset{
        select{
            max-width: 250px;
        }
        textarea{
            resize: none;
            max-width: 595px;
            height: 170px;
        }
    }
    .btn-block {
        background: #ef6a2b;
        margin: 23px 0 20px 195px;
    }
}

.orange-txt{
    font-family: $roboto-cd-bold;
    color: #ee5f20;
}
.has-border{
    border: 1px solid #ef6a2b;
    margin: 0 5px;
    padding: 1px 2px;
    background-color: #fff;
}
