/* Forms */

::-webkit-input-placeholder{
	font-family: $roboto-it;
    font-size: 0.88em;
    color: rgb(139, 139, 139);
}
::-moz-placeholder{
	font-family: $roboto-it;
    font-size: 0.88em;
    color: rgb(139, 139, 139);
}
::-ms-input-placeholder{
	font-family: $roboto-it;
    font-size: 0.88em;
    color: rgb(139, 139, 139);
}

.form-container{
    display: flex;
    width: 75%;
    position: relative;
    margin: 40px 0 0;
    z-index: 1;
    font-size: 1.4rem;
    line-height: 1.6;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 18px 36px rgba(#000, 0.13);
    > div{
        width: 50%;
        padding: 35px 30px;
        &:nth-of-type(1){
            padding-left: 75px;
        }
        &:nth-of-type(2){
            padding-top: 72px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background: #F8F8F8;
        }
    }
    .btn-form{
        margin: 25px 0 0 ;
    }
}
.form-title{
    position: relative;
    margin: 0 0 1em;
    font-size: 2.7rem;
    color: $txt;
    > span{
        padding: 6px 2px;
        position: absolute;
        top: 0;
        left: -40px;
        z-index: 1;
        font-family: $roboto-cd;
        font-size: 1.2rem;
        letter-spacing: -0.11em;
        color: #fff;
        &:before{
            content: '';
            width: 35px;
            height: 35px;
            position: absolute;
            top: 5px;
            left: 0;
            z-index: -1;
            background: $theme-btn;
            transform-origin: 50% 50%;
            transform: rotate(-5deg);
        }
        span{
            font-size: 2rem;
        }
    }
}
.form-icon{
    display: inline-block;
    padding: 4px 8px 5px;
    background: $bleu-link;
    color: #fff;
    > .icon{
        width: 36px;
        height: 15px;
    }
}
.form-subfield{
    margin: 10px 0 0 18px;
}

fieldset{
	margin: 0 0 17px;
}

legend{
    font-family: $roboto-bold;
    margin: 0 0 2em;
    > span{
        display: block;
        font-family: $roboto-it;
    }
}

label{
    display: inline-block;
    width: 180px;
    margin: 0 15px 0 0;
    vertical-align: middle;
    line-height: 1.5;
    letter-spacing: -0.02em;
    &.medium{
        font-size: 1em;
    }
    &.block{
        display: block;
        margin: 0 0 6px 0;
    }
    .required &{
        font-family: $roboto-bold;
        &:after{
            content: '*';
            color: $theme-rouge-title;
        }
        .form-disabled &{
            font-family: $roboto;
            &:after{
                display: none;
            }
        }
    }
    .required.no-asterisk &{
        &:after{
            display: none;
        }
    }
    .error &{
        color: $error;
    }
}

label{
    cursor: pointer;
    .form-disabled &{
        cursor: auto;
    }
}

.big-legend{
    width: 100%;
    max-width: 650px;
    border-bottom: 1px dashed;
    margin-bottom: 20px;
    font-family: $roboto-cd-bold;
    font-size: 1.5em;
    .cercle &{
        margin: 20px 0 30px 0;
    }
}

.legend-next-fieldset{
    /* float pour ff + safari qui sinon laisse le legend déborder au-dessus du fieldset */
    float: left;
    .form-disabled &{
        margin-bottom: 0;
        + fieldset{
            margin-bottom: 5px;
        }
    }
}

.label-select{
    font-family: $roboto-bold;
    .form-half &{
        width: 34.92%;
        margin-right: 3.1%;
    }
    &.small{
        .form-half &{
            width: 8.26%;
            margin: 0;
            text-align: center;
        }
    }
}

input, textarea, select{
    width: 100%;
}

input, textarea{
    display: inline-block;
    padding: 10px;
    border: 1px solid #ebebeb;
    font-size: 16px;
    line-height: 1;
    background: #fff;
    color: inherit;
    box-shadow: 0 4px 10px rgba(135, 60, 21, 0.05);
    transition: $transition;
    &:not([disabled]):hover{
        border-color: mix(#fff, #ebebeb, 20%);
        &:focus{
            border-color: $bleu-link;
        }
    }
    &:focus{
        border-color: $bleu-link;
        outline: none;
    }
    .error &{
        border-color: $error;
    }
  	&:-webkit-autofill{
      	box-shadow: 0 0 0 1000px #fff inset;
  	}
}

input{
    &.small{
        max-width: 160px;
    }
    &.x-small{
        max-width: 110px;
    }
    &.super-big{
        max-width: 490px;
    }
    &.med{
        max-width: 180px;
    }
	&[type=text], &[type=email], &[type=tel], &[type=password], &[type=number]{
		vertical-align: middle;
	}
    &[type=text]{
        max-width: 250px;
        &.small{
            padding-top: 7px;
            padding-bottom: 7px;
        }
        &.med{
            max-width: 230px;
        }
    }
    &[type=tel]{
        max-width: 150px;
        &.med{
            max-width: 180px;
        }
    }
    &[type=email], &.big{
        max-width: 325px;
    }
    &[type=number]{
        max-width: 85px;
        -moz-appearance: textfield; /* to hide the persistent indicator on FF */
        &.price{
            max-width: 160px;
            + b{
                display: inline-block;
                margin: 0 0 0 8px;
            }
        }
    }
    &[type=password]{
        max-width: 140px;
    }
    &[type=radio], &[type=checkbox]{
        width: 0;
        height: 0;
        position: relative;
        left: -99em;
        vertical-align: top;
        &:checked{
            + label{
                &:after{
                    opacity: 1;
                }
            }
        }
        &:hover{
            opacity: 0.8;
        }
        &[disabled]{
            display: none;
            + label{
                display: none;
                padding-left: 0;
                font-family: $roboto-bold;
            }
            &:checked{
                + label{
                    display: inline-block;
                }
            }
        }
        + label{
            width: auto;
            position: relative;
            padding: 0 0 0 17px;
            &:before, &:after{
                content: '';
                position: absolute;
                bottom: -2px;
                margin: 5px auto;
            }
            &:before{
                width: 12px;
                height: 12px;
                border: 1px solid #e4e4e4;
                top: 0;
                left: -2px;
                background: #fff;
                transition: $transition;
                box-shadow: 0 4px 10px rgba(135, 60, 21, 0.05);
            }
            &:after{
                width: 8px;
                height: 8px;
                top: 2px;
                left: 0;
                background: $bleu-link;
                opacity: 0;
            }
            &:hover{
                &:before{
                    border-color: mix(#fff, #e4e4e4, 20%);
                }
            }
        }
    }
    &[type=radio]{
        + label{
            &:before, &:after{
                border-radius: 50%;
            }
        }
    }
    &[disabled]{
        border: 0;
        outline: 0 !important;
        font-size: 0.88em;
        font-family: $roboto-bold;
        /* pour safari qui affiche les input disabled en gris */
        -webkit-text-fill-color: $txt;
        .error &{
            color: $error;
            -webkit-text-fill-color: $error;
        }
    }
}

textarea{
    max-width: 370px;
    height: 75px;
    line-height: 1.5;
}

select{
    height: 42px;
    padding: 0 30px 0 12px;
    border: 1px solid #ebebeb;
    /* overflow pour empecher le dépassement de l'outline sur ff au focus */
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: $roboto-it;
    font-size: 0.88em;
    background: #fff;
    outline: 1px solid #dadada;
    transition: border $transition, outline $transition;
    &::-ms-expand{
        display: none;
    }
    .lt-ie10 &{
        padding-right: 0;
    }
    &:focus{
        border-color: $bleu-link;
        outline: 1px solid $bleu-link;
        outline-offset: 0;
    }
    .error &{
        border-color: $error;
        outline: 1px solid $error;
    }
}
.select{
    display: inline-block;
    width: 300px;
    max-width: 100%;
    position: relative;
    &:after{
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #000 transparent transparent transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 14px;
        pointer-events: none;
        .lt-ie10 &{
            display: none;
        }
    }
    &.medium{
        width: 200px;
    }
    &.small{
        width: 130px;
        .form-half &{
            width: 26.86%;
        }
    }
    .form-half &{
        width: 61.9%;
    }
}

button{
    border: 0;
    transition: $transition;
    &:focus{
        outline: 0;
    }
    &.no-margin{
        margin-left: 0;
    }
}

.not-filled{
    display: block;
    margin: -28px 0 14px 205px;
    font-size: 0.88em;
    font-family: $roboto-it;
    color: #b6b8bb;
}

.info-form{
    margin-top: 8px;
}

/* Newsletter */

.form-newsletter{
    div{
        margin: 10px 0;
    }
    input{
        background: none;
        padding-top: 5px;
        padding-bottom: 6px;
        border-width: 2px;
        border-color: #c1c3c6;
        outline: 0 !important;
        &:focus{
            border-color: $bleu-link;
        }
    }
}

.wrapper-input-btn{
    display: flex;
    justify-content: space-between;
    .btn-small{
        padding: 9px 13px;
        margin: 0 0 0 10px;
    }
}


/* Form error */

.p-error{
    padding: 15px 30px 15px 70px;
    position: relative;
    font-family: $roboto-bold;
    font-size: 0.88em;
    background: #f3f4e1;
    color: $error;
}

.p-valid, #footer .p-valid{
    padding: 15px;
    position: relative;
    font-family: $roboto-bold;
    font-size: 0.88em;
    background: #f3f4e1;
    color: $valid;
    &.small{
        font-size: 0.85em;
        padding: 10px;
    }
}