/* Header */

.nav-header {
    display: inline-flex;
    > li {
        &:nth-child(1) {
            a,
            button {
                background: $bleu-link;
            }
        }
        &:nth-child(2) {
            a,
            button {
                background: $orange;
            }
        }
        &:nth-child(3) {
            a,
            button {
                background: #df5441;
            }
        }
        &:nth-child(4) {
            a,
            button {
                background: $theme-btn;
            }
        }
    }
    a,
    button {
        .icon {
            transform: translate3d(0, 0, 0);
            transition: transform $transition;
        }
        .icon-quizz {
            width: 45px;
            height: 19px;
        }
        .icon-mail {
            width: 25px;
            height: 19px;
        }
        .icon-user {
            width: 24px;
            height: 21px;
        }
    }
}

@media (max-width: 1280px) {
    .nav-header {
        display: block;
        a,
        button {
            .icon-quizz {
                display: none;
            }
        }
    }
}
